#form {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

input {
  width: 70%;
}

label {
  width: 25%;
}

select {
  width: 70%;
}
/*.form-group {
  width: 40%;
  float: left;
  margin-right: 5%;
}*/

#Prikaz {
  /*float:left;*/
}
